body {
  background-color: #ffffff; /* Color de fondo */
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  margin-top: 20px;
}

.productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px;
}

.producto {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 8px;
}

.producto img {
  max-width: 100%;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.resumen {
  margin: 30px 0;
}

#mensaje {
  font-weight: bold;
  margin-top: 20px;
}
.producto {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.grafica2 {
  background-image: url("assets/img/grafica2.png");
}

.grafica3 {
  background-image: url("assets/img/grafica3.png");
}

.rtx2060 {
  background-image: url("assets/img/rtx2060.jpg");
}
#btn-comprar-producto {
    display: inline-block;
    margin-top: 20px;   /* separación con lo de arriba */
    margin-left: auto;
    margin-right: auto;
    background-color: #ffc107;  /* amarillo tipo Bootstrap warning */
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#btn-comprar-producto:hover {
    background-color: #e0a800;
}
